<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail-page</title>
    <link rel="stylesheet" href="detail-page.css">
</head>
<body>
    <nav>
        <div class="jetflix">
            <h1>JETFLIX</h1>
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="movie.html">Movies</a></li>
                <li><a href="news-and-popular.html">News & Popular</a></li>
            </ul>
        </div>

        <div class="nav-profile">
            <li><a href="#"><img src="/web/asset/search.png" alt="search"></a></li>
            <li><a href="#"><img src="/web/asset/bell.png" alt="notification"></a></li>
            <li><a href="#"><img src="/web/asset/profile.png" alt="profile"></a></li>
        </div>
    </nav>

    <div class="poster">
        <img src="/web/asset/The last of Us.jpeg" alt="The Last of Us">
        <div class="movie-info">
            <div class="movie-title">
                <h1>The Last of Us</h1>
            </div>
            <div class="detail">
                <h4>Tv Series</h4>
                <h4>|</h4>
                <h4>2023</h4>
                <h4>|</h4>
                <h4>18+</h4>
                <h4>|</h4>
                <h4>50m++</h4>
            </div>
            <div class="synopsis">
                <h2>SYNOPSIS</h2>
                <p>Twenty years after modern civilization has been destroyed, Joel, a hardened survivor, 
                    is hired to smuggle Ellie, a 14-year-old girl, out of an oppressive quarantine zone. 
                    What starts as a small job soon becomes a brutal, heartbreaking 
                    journey, as they both must traverse the United States and 
                    depend on each other for survival.</p>
            </div>
            <!-- cast creator genre (ccg) -->
            <div class="ccg">
                <div class="ccg-list"> 
                    <h4>Cast</h4>
                    <h4>Creator</h4>
                    <h4>Genre</h4>
                </div>
                <div class="ccg-info">
                    <h4>Pedro Pascal, Bella Ramsey</h4>
                    <h4>Neil Druckmann, Craig Mazin </h4>
                    <h4>Action, Adventure, Drama</h4>
                </div>
            </div>
            <div class="eps">
                <h2>EPISODES</h2>
            </div>
            <div class="episode-list">
                <div class="episode-list-inner">
                    <div class="episode">
                        <img src="/web/asset/TLOU EPISODES/When you lost on the darkness.jpeg" alt="Episode 1">
                        <h4>1. When You Lost on The Darkness</h4>
                        <h5>Duration: 1h 21m</h5>
                        <p>Twenty years after a fungal outbreak ravages the planet, survivors 
                            Joel and Tess are tasked with a mission that could change everything.</p>
                        <button class="play-button">Play</button>
                    </div>
                    <div class="episode">
                        <img src="/web/asset/TLOU EPISODES/ Infected.jpeg" alt="Episode 2">
                        <h4>2. Infected</h4>
                        <h5>Duration: 53m</h5>
                        <p>In 2003, an Indonesian scientist makes a devastating discovery. In 2023, now outside of the quarantine zone, 
                            Joel and Tess clash over Ellie's fate as they navigate a long-abandoned Boston overrun with Infected.</p>
                        <button class="play-button">Play</button>
                    </div>
                    <div class="episode">
                        <img src="/web/asset/TLOU EPISODES/Long, Long Time.jpeg" alt="Episode 3">
                        <h4>3. Long, Long Time</h4>
                        <h5>Duration: 1h 17m</h5>
                        <p>Doomsday prepper Bill prepares to ride out the apocalypse alone...until a mysterious stranger upends his plans. 
                            Years later, Joel and Ellie seek Bill's guidance and find themselves at a crossroads.</p>
                        <button class="play-button">Play</button>
                        </div>
                    <div class="episode">
                        <img src="/web/asset/TLOU EPISODES/Please Hold to My Hand.jpeg" alt="Episode 4">
                        <h4>4. Please Hold to My Hand.</h4>
                        <h5>Duration: 47m</h5>
                        <p>After a harrowing trek across a desolate United States, Joel and Ellie find themselves navigating a dangerous Kansas City on foot. 
                            Later, rebel leader Kathleen instigates a manhunt one that pits her violent civilian militia against the world's best hope.</p>
                        <button class="play-button">Play</button>
                    </div>
                    <div class="episode">
                        <img src="asset/TLOU EPISODES/ Endure and Survive.jpeg" alt="Episode 5">
                        <h4>5. Endure and Survive</h4>
                        <h5>Duration: 1h</h5>
                        <p>On the streets of a newly free Kansas City, Henry fights to protect his brother Sam from rebel soldiers who will 
                            stop at nothing to appease their ruthless leader. As her manhunt continues, 
                            Kathleen doubles down on her quest for revenge, while Ellie forms a meaningful friendship.</p>
                        <button class="play-button">Play</button>
                        </div>
                    <div class="episode">
                        <img src="/web/asset/TLOU EPISODES/KIN.jpeg" alt="Episode 6">
                        <h4>6. KIN</h4>
                        <h5>Duration: 1h 1m</h5>
                        <p>After months of traveling, Joel and Ellie receive a grave warning about what lies ahead. Later, Ellie learns 
                            more about Joel's past while Joel tries his best to forget.</p>
                        <button class="play-button">Play</button>
                    </div>
                    <div class="episode">
                        <img src="/web/asset/TLOU EPISODES/ Left Behind.jpeg" alt="Episode 7">
                        <h4>7. Left Behind</h4>
                        <h5>Duration: 57m</h5>
                        <p>As Joel fights to survive, Ellie's struggle to save him stirs memories of her life in a FEDRA orphanage. Weeks before meeting Joel, 
                            Ellie recalls joining her best friend Riley for a night to remember… one that will change the course of both of their lives and the fate of the world forever.</p>
                        <button class="play-button">Play</button>
                    </div>
                    <div class="episode">
                        <img src="/web/asset/TLOU EPISODES/ When We Are in Need.jpeg" alt="Episode 8">
                        <h4>8. When We Are in Need</h4>
                        <h5>Duration: 52m</h5>
                        <p>After crossing paths with a vengeful group of survivors, Ellie's fighting spirit draws unwanted attention from its leader. 
                            Still battling for his life, a weakened Joel faces off with a hunting party out for blood.</p>
                        <button class="play-button">Play</button>
                    </div>
                    <div class="episode">
                        <img src="/web/asset/TLOU EPISODES/Look for the Light.jpeg" alt="Episode 9">
                        <h4>9. Look For The Light</h4>
                        <h5>Duration: 46m</h5>
                        <p>After being pursued by Infected, a pregnant Anna places her trust in a lifelong friend. Years later, 
                            Ellie is forced to grapple with the emotional toll of her journey, while Joel faces a devastating decision of his own..</p>
                        <button class="play-button">Play</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>