<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="movie.css">
</head>
<body>
    <div class="background"></div>
    <nav>
        <div class="jetflix">
            <h1>JETFLIX</h1>
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="movie.html">Movies</a></li>
                <li><a href="news-and-popular.html">News & Popular</a></li>
            </ul>
        </div>

        <div class="nav-profile">
            <li><a href="#"><img src="/web/asset/search.png" alt="search"></a></li>
            <li><a href="#"><img src="/web/asset/bell.png" alt="notification"></a></li>
            <li><a href="#"><img src="/web/asset/profile.png" alt="profile"></a></li>
        </div>
    </nav>

    <div class="jumbotron">
        <h4>#1<span>JETFLIX</span>Movies</h4>
        <h1>THE LAST OF US</h1>
        <p>Twenty years after modern civilization has been destroyed, Joel, a hardened survivor, is hired to smuggle Ellie, a 14-year-old girl,
            out of an oppressive quarantine zone. What starts as a small 
            job soon becomes a brutal, heartbreaking journey, as they both must
            traverse the United States and depend on each other for survival.
        </p>
        <button class="view"><a href="detail-page.html">View</a></button>
    </div>

    <div class="film-category">
        <h2>Action</h2>
        <div class="film-list">
            <a href="#"><img src="/web/asset/Top Gun- Maverick.jpeg" alt="Top Gun"></a>
            <a href="#"><img src="/web/asset/Avatar- The Way of Water.jpeg" alt="Avatar"></a>
            <a href="#"><img src="/web/asset/John Wick- Chapter 4.jpeg" alt="John Wick"></a>
            <a href="#"><img src="/web/asset/Spider-Man- No Way Home.jpeg" alt="Spider-Man"></a>
            <a href="#"><img src="/web/asset/The Batman.jpeg" alt="The Batman"></a>
            <a href="#"><img src="/web/asset/All Quiet on the Western Front.jpeg" alt="All Quiet on the Western Front"></a>
            <a href="#"><img src="/web/asset/Dungeons & Dragons- Honor Among Thieves.jpeg" alt="Dungeons & Dragons- Honor Among Thieves"></a>
            <a href="#"><img src="/web/asset/Dune.jpeg" alt="Dune"></a>
        </div>
    </div>
    <div class="film-category">
    <h2>Drama</h2>
        <div class="film-list">
            <a href="#"><img src="/web/asset/Happening.jpeg" alt="Happening"></a>
            <a href="#"><img src="/web/asset/Decision to Leave.jpeg" alt="Decision to Leave"></a>
            <a href="#"><img src="/web/asset/Boiling Point.jpeg" alt="Boiling Point"></a>
            <a href="#"><img src="/web/asset/Aftersun.jpeg" alt="Aftersun"></a>
            <a href="#"><img src="/web/asset/Tár.jpeg" alt="Tár"></a>
            <a href="#"><img src="/web/asset/Love & Death.jpeg" alt="Love & Death"></a>
            <a href="#"><img src="/web/asset/Yellowstone.jpeg" alt="Yellowstone"></a>
            <a href="#"><img src="/web/asset/After Ever Happy.jpeg" alt="After Ever Happy"></a>
        </div>
    </div>
    <div class="film-category">
        <h2>Horror</h2>
        <div class="film-list">
            <a href="#"><img src="/web/asset/The Boogeyman .jpeg" alt="The Boogeyman"></a>
            <a href="#"><img src="/web/asset/Evil Dead Rise .jpeg" alt="Evil Dead Rise"></a>
            <a href="#"><img src="/web/asset/The Conjuring- The Devil Made Me Do It.jpeg" alt="The Conjuring- The Devil Made Me Do It"></a>
            <a href="#"><img src="/web/asset/Pearl.jpeg" alt="Pearl"></a>
            <a href="#"><img src="/web/asset/Midsommar.jpeg" alt="Midsommar"></a>
            <a href="#"><img src="/web/asset/Nope.jpeg" alt="Nope"></a>
            <a href="#"><img src="/web/asset/M3GAN.jpeg" alt="M3GAN"></a>
            <a href="#"><img src="/web/asset/It.jpeg" alt="It"></a>
        </div>
    </div>
    <div class="film-category">
        <h2>Comedy</h2>
        <div class="film-list">
            <a href="#"><img src="/web/asset/Succession.jpeg" alt="Succession"></a>
            <a href="#"><img src="/web/asset/Ted Lasso.jpeg" alt="Ted Lasso"></a>
            <a href="#"><img src="/web/asset/Asteroid City .jpeg" alt="Asteroid City"></a>
            <a href="#"><img src="/web/asset/A Man Called Otto.jpeg" alt="A Man Called Otto"></a>
            <a href="#"><img src="/web/asset/BlackBerry.jpeg" alt="BlackBerry"></a>
            <a href="#"><img src="/web/asset/The Marvelous Mrs. Maisel .jpeg" alt="The Marvelous Mrs. Maisel"></a>
            <a href="#"><img src="/web/asset/Beau Is Afraid.jpeg" alt="Beau Is Afraid"></a>
            <a href="#"><img src="/web/asset/You Hurt My Feelings .jpeg" alt="You Hurt My Feelings"></a>
        </div>
    </div>
</body>
</html>