<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News & Popular</title>
    <link rel="stylesheet" href="news-and-popular.css">
</head>
<body>
    <nav>
        <div class="jetflix">
            <h1>JETFLIX</h1>
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="movie.html">Movies</a></li>
                <li><a href="#">News & Popular</a></li>
            </ul>
        </div>
    
        <div class="nav-profile">
            <li><a href="#"><img src="/web/asset/search.png" alt="search"></a></li>
            <li><a href="#"><img src="/web/asset/bell.png" alt="notification"></a></li>
            <li><a href="#"><img src="/web/asset/profile.png" alt="profile"></a></li>
        </div>
    </nav>
    <div class="top-movies">
        <h2>Top 5 Movies on<span>JETFLIX</span></h2>
        <div class="top-movie-list">
            <div class="list">
                <div class="poster">
                    <img src="/web/asset/The last of Us.jpeg" alt="The Last of Us">
                </div>
                <div class="movie-details">
                    <div class="movie-name">
                        <div class="movie-rank">
                            <h3>#1</h3>
                        </div>
                        <div class="play-download">
                            <a href="#" class="button-link"><button class="download">Download</button></a>
                            <a href="#" class="button-link"><button class="play">Play</button></a>
                        </div>
                        <h3>The Last of Us</h3>
                        <h4>SYNOPSIS</h4>
                        <p>Twenty years after modern civilization has been destroyed, Joel, a hardened survivor, 
                            is hired to smuggle Ellie, a 14-year-old girl, out of an oppressive quarantine zone. 
                            What starts as a small job soon becomes a brutal, heartbreaking 
                            journey, as they both must traverse the United States and 
                            depend on each other for survival.
                        </p>
                        <div class="ccg">
                            <div class="ccg-list"> 
                                <h4>Cast</h4>
                                <h4>Creator</h4>
                                <h4>Genre</h4>
                            </div>
                            <div class="ccg-info">
                                <h4>Pedro Pascal, Bella Ramsey</h4>
                                <h4>Neil Druckmann, Craig Mazin </h4>
                                <h4>Action, Adventure, Drama</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-movie-list">
            <div class="list">
                <div class="poster">
                    <img src="/web/asset/Top Gun- Maverick.jpeg" alt="Top Gun: Maverick">
                </div>
                <div class="movie-details">
                    <div class="movie-name">
                        <div class="movie-rank">
                            <h3>#2</h3>
                        </div>
                        <div class="play-download">
                            <a href="#" class="button-link"><button class="download">Download</button></a>
                            <a href="#" class="button-link"><button class="play">Play</button></a>
                        </div>
                        <h3>Top Gun: Maverick</h3>
                        <h4>SYNOPSIS</h4>
                        <p>After thirty years, Maverick is still pushing the envelope as a top naval aviator, but must confront ghosts 
                            of his past when he leads TOP GUN's elite graduates on a mission that demands 
                            the ultimate sacrifice from those chosen to fly it.
                        </p>
                        <div class="ccg">
                            <div class="ccg-list"> 
                                <h4>Cast</h4>
                                <h4>Creator</h4>
                                <h4>Genre</h4>
                            </div>
                            <div class="ccg-info">
                                <h4>Tom Cruise, Jennifer Connelly, Miles Teller, Val Kilmer</h4>
                                <h4>Joseph Kosinski</h4>
                                <h4>Action, Drama</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-movie-list">
            <div class="list">
                <div class="poster">
                    <img src="/web/asset/Boiling Point.jpeg" alt="Boiling Point">
                </div>
                <div class="movie-details">
                    <div class="movie-name">
                        <div class="movie-rank">
                            <h3>#3</h3>
                        </div>
                        <div class="play-download">
                            <a href="#" class="button-link"><button class="download">Download</button></a>
                            <a href="#" class="button-link"><button class="play">Play</button></a>
                        </div>
                        <h3>Boiling Point</h3>
                        <h4>SYNOPSIS</h4>
                        <p>Enter the relentless pressure of a restaurant kitchen as a head chef wrangles his 
                            team on the busiest day of the year.
                        </p>
                        <div class="ccg">
                            <div class="ccg-list"> 
                                <h4>Cast</h4>
                                <h4>Creator</h4>
                                <h4>Genre</h4>
                            </div>
                            <div class="ccg-info">
                                <h4>Stephen Graham, Vinette Robinson, Alice Feetham, Ray Panthaki</h4>
                                <h4>Philip Barantani</h4>
                                <h4>Drama, Thriller</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-movie-list">
            <div class="list">
                <div class="poster">
                    <img src="/web/asset/The Batman.jpeg" alt="The Batman">
                </div>
                <div class="movie-details">
                    <div class="movie-name">
                        <div class="movie-rank">
                            <h3>#4</h3>
                        </div>
                        <div class="play-download">
                            <a href="#" class="button-link"><button class="download">Download</button></a>
                            <a href="#" class="button-link"><button class="play">Play</button></a>
                        </div>
                        <h3>The Batman</h3>
                        <h4>SYNOPSIS</h4>
                        <p>When a sadistic serial killer begins murdering key political figures in Gotham, Batman is 
                            forced to investigate the city's hidden corruption and question his family's involvement.
                        </p>
                        <div class="ccg">
                            <div class="ccg-list"> 
                                <h4>Cast</h4>
                                <h4>Creator</h4>
                                <h4>Genre</h4>
                            </div>
                            <div class="ccg-info">
                                <h4>Robert Pattinson, Zoë Kravitz, Jeffrey Wright, Colin Farrell</h4>
                                <h4>Matt Reeves</h4>
                                <h4>Action, Crime, Drama</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-movie-list">
            <div class="list">
                <div class="poster">
                    <img src="/web/asset/The Banshees of Inisherin.jpeg" alt="The Banshees of Inisherin">
                </div>
                <div class="movie-details">
                    <div class="movie-name">
                        <div class="movie-rank">
                            <h3>#5</h3>
                        </div>
                        <div class="play-download">
                            <a href="#" class="button-link"><button class="download">Download</button></a>
                            <a href="#" class="button-link"><button class="play">Play</button></a>
                        </div>
                        <h3>The Banshees of Inisherin</h3>
                        <h4>SYNOPSIS</h4>
                        <p>Two lifelong friends find themselves at an impasse when one abruptly 
                            ends their relationship, with alarming consequences for both of them.
                        </p>
                        <div class="ccg">
                            <div class="ccg-list"> 
                                <h4>Cast</h4>
                                <h4>Creator</h4>
                                <h4>Genre</h4>
                            </div>
                            <div class="ccg-info">
                                <h4>Colin Farrell, Brendan Gleeson, Kerry Condon, Pat Shortt</h4>
                                <h4>Martin McDonagh</h4>
                                <h4>Comedy, Drama</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
