body
{
    background-color: black;
    padding: 0;
    margin: 0;
}

a
{
    color: white;
    text-decoration: none;
}

nav
{
    background-color: transparent;
    padding: 0.5rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-jetflix
{
    font-family: 'Lava Kannada';
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    font-weight: 700;
    font-size: 20px;
    color: #FF0000;

}

input
{
    left: 91px;
    font-family: 'Arial Unicode MS';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-indent: 19px;
    color: white;
}

.background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/web/asset/Background.png');
    opacity: 0.4;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
}

.register
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 452px;
    height: 591px;
    left: calc(50% - 452px/2);
    top: 104px;
    background: rgba(0, 0, 0, 0.72);
    border-radius: 14px;
    margin-left: 35%;
}

.register h1
{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #FFFFFF;
    width: 129px;
    height: 37px;
    left: calc(50% - 129px/2 - 0.5px);
    top: 0px;
}
form
{
    display: flex;
    flex-direction: column;
}


label.name
{
    width: 178px;
    height: 21px;
    left: 69.81px;
    top: 65px;
}

input.name-plc
{
    box-sizing: border-box;

    width: 314.19px;
    height: 37px;
    left: 70px;
    top: 92px;
    border: none;

    background: #3C3C3C;
    border-radius: 5px;
    margin-bottom: 5%;
}

.name-plc::placeholder
{
    left: 91px;
    font-family: 'Arial Unicode MS';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-indent: 19px;
    color: rgba(150, 150, 150, 0.7);
}

.name
{
    font-family: 'Arial Unicode MS';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #969696;
    top: 5px;
}

.password
{
    font-family: 'Arial Unicode MS';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #969696;
}

label.password
{
    width: 178px;
    height: 21px;
    left: 69.81px;
    top: 146px;
}

input.password-plc
{
    box-sizing: border-box;

    width: 314.19px;
    height: 37px;
    left: 70px;
    top: 173px;
    border: none;
    background: #3C3C3C;
    border-radius: 5px;
    margin-bottom: 5%;
}

input.password-plc::placeholder
{
    left: 91px;
    font-family: 'Arial Unicode MS';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-indent: 19px;
    color: rgba(150, 150, 150, 0.7);
}

.confirm-pw
{
    font-family: 'Arial Unicode MS';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #969696;
}

label.confirm-pw
{
    width: 178px;
    height: 21px;
    left: 69.81px;
    top: 39%;
}

input.confirm-pw-plc
{
    box-sizing: border-box;

    width: 314.19px;
    height: 37px;
    left: 70px;
    top: 44%;
    border: none;
    background: #3C3C3C;
    border-radius: 5px;
    margin-bottom: 5%;
}

input.confirm-pw-plc::placeholder
{
    font-family: 'Arial Unicode MS';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-indent: 19px;
    color: rgba(150, 150, 150, 0.7);
}

.birth
{
    font-family: 'Arial Unicode MS';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #969696;
}

label.birth
{
    width: 178px;
    height: 21px;
    left: 69.81px;
    top: 54%;
}

input.birth-plc
{
    box-sizing: border-box;

    width: 314.19px;
    height: 37px;
    left: 70px;
    top: 59%;
    border: none;
    background: #3C3C3C;
    border-radius: 5px;
    margin-bottom: 5%;
}

input.birth-plc::placeholder
{
    left: 91px;
    font-family: 'Arial Unicode MS';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-indent: 19px;
    color: rgba(150, 150, 150, 0.7);
}

.gender
{
    margin-bottom: 5%;
}

.male
{
    position: relative;
    font-family: 'Arial Unicode MS';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #969696;
    margin-right: 10px;
}

input#male
{
    width: 12px;
    height: 13.33px;
    left: 70px;
    top: 400px;
}

.female
{
    position: relative;
    font-family: 'Arial Unicode MS';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #969696;
}

input#female
{
    width: 12px;
    height: 13.33px;
    left: 105px;
    top: 400px;
}

.agree
{
    margin-bottom: 5%;
}


input#agree
{
    width: 12px;
    height: 13.33px;
    left: 70px;
    top: 440px;
}

.agree-text
{
    font-family: 'Arial Unicode MS';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #969696;
    top: 438px;
    left: 95px;
}

.register-button {
    font-family: 'Arial Rounded MT Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: white;
    background-color: red;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    left: 160px;
    top: 500px;
    cursor: pointer;
}

.error
{
    font-family: 'Arial Rounded MT Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: red;
    font-size: 15px;
}